---
#
# The configuration.yaml is only used to bootstrap the system.
#
homeassistant:
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 192.168.10.0/24
        - 192.168.20.0/24
#      allow_bypass_login: true
    - type: homeassistant
  packages: !include_dir_named casa/integrations
